@use 'cores';



*{
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0;
    color: cores.$corFonte;

    .container {
        width: 1124px;
        margin: 0 auto;
    }
    
}



@media screen and (min-width: 820px) {
    .container {
        width: 820px;
    }
}